// .container {
//     display: flex;
// 	position: relative;
//     //padding between check and name
//     height: 100%;
// 	padding-left: 30px;
// 	cursor: pointer;
// 	// font-size: 22px;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
//     user-select: none;
//     > * {
//         align-self: center;
//     }
// }

// .section-container {
// 	height: 30px;
//     box-shadow: 0px 10px 0px -9px #888888;
//     display: block;
// }

// /* Hide the browser's default checkbox */
// .container input {
// 	position: absolute;
// 	opacity: 0;
// 	cursor: pointer;
// 	height: 0;
// 	width: 0;
// }

// /* Create a custom checkbox */
// .checkmark {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	height: 22px;
// 	width: 22px;
// 	background-color: #eee;
// 	border-radius: 50%;
// }

// /* On mouse-over, add a grey background color */
// .container:hover input ~ .checkmark {
// 	background-color: #ccc;
// }

// /* When the checkbox is checked, add a blue background */
// .container input:checked ~ .checkmark {
// 	background-color: #2196f3;
// }

// /* Create the checkmark/indicator (hidden when not checked) */
// .checkmark:after {
// 	content: "";
// 	position: absolute;
// 	display: none;
// }

// /* Show the checkmark when checked */
// .container input:checked ~ .checkmark:after {
// 	display: block;
// }

// /* Style the checkmark/indicator */
// .container .checkmark:after {
// 	left: 7px;
// 	top: 4px;
// 	width: 5px;
// 	height: 10px;
// 	border: 1px solid white;
// 	border-width: 0 2px 2px 0;
// 	-webkit-transform: rotate(45deg);
// 	-ms-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
