.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
    position: absolute;
    top: 40;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	// padding: 12px 16px;
	z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;

}
