.modal {
	position: fixed;
	display: block;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
    background: white;
    min-width: 480px;
	// width: 80%;
	// height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal-header {
    border-bottom: "1px solid #eaeaea"
}

.modal-content {
    padding: 20px
}

.modal-footer {
	display: flex;
	flex-direction: row-reverse;
	padding: 10px;
}
