@import "./uk-custom-theme.scss";
@import "~react-datepicker/dist/react-datepicker.css";
@import "./components/dropdown";
@import "./components/modal";
@import "./components/checkbox";

.html,
body {
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;
	color: #666;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	overflow: hidden;
}

@mixin flex-container {
	display: flex;
	overflow: hidden;

	// > * {
	// 	flex: 0 0 auto;
	// 	overflow: scroll;
	// }
}

@mixin stretchy {
	flex: 1 1 auto;
}

@mixin column {
	flex-direction: column;
}

.hidden {
	display: none;
}

html,
body,
#root,
.app,
#root > div {
	height: 100%;
}

body {
	margin: 0;
}

.app-header,
.app-footer {
	height: 50px important;

	background: #555;
	color: white;
}

.app {
	@include flex-container();
	@include column();

	> .app-content {
		@include stretchy();
		@include flex-container();

		> .app-content-stretch {
			@include stretchy();
			@include flex-container();
			@include column();
			> .scroll-container {
				overflow: scroll;
			}
		}
		// lmr: left mid right
		> .app-lmr-view {
			@include stretchy();
			@include flex-container();

			> .left {
				// width: 250px;
				background: #eee;
			}

			> .middle {
				@include stretchy;
			}
		}

		> .app-m-view {
			@include stretchy();
		}
		> .app-right-nav {
			overflow: scroll;
			width: 60px;
			display: none;
			// height: 100%;
			// position: fixed;
			// right: 0;
		}
	}
}

.background-lines {
	margin: 0 24px;
	flex: 1;

	background-image: linear-gradient(
		180deg,
		#e5e5e5 0.93%,
		#ffffff 0.93%,
		#ffffff 50%,
		#e5e5e5 50%,
		#e5e5e5 50.93%,
		#ffffff 50.93%,
		#ffffff 100%
	);
	background-size: 108px 108px;
}

.vertical-container {
	@include stretchy();
	@include flex-container();
	height: 100%;
}

.split-container {
	@include stretchy();
	@include flex-container();
	height: 100%;
}

.split-container-row {
	> .s1 {
		@include stretchy;
	}

	> .s2 {
		width: 75%;
	}
}

.split-container-col {
	@include column();

	> .s1 {
		@include stretchy;
		height: 50%;
	}

	> .s2 {
		height: 50%;
	}
}

.none {
	display: none;
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
	width: 100%;
	height: 52px;
}

.react-datepicker__input-container {
	display: flex;
	align-items: center;
	// justify-content: center;
}

// .arrow_box {
// 	position: absolute;
// 	display: block;
// 	background: #fff;
// 	border: none;
// 	top: 20px;
// 	left: -200px;
// 	z-index: 1;
// 	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
// }
// .arrow_box:after {
// 	bottom: 100%;
// 	left: 90%;
// 	border: solid transparent;
// 	content: " ";
// 	height: 0;
// 	// width: 0;
// 	position: absolute;
// 	pointer-events: none;
// 	border-color: rgba(255, 255, 255, 0);
// 	border-bottom-color: #ffffff;
// 	border-width: 10px;
// 	margin-left: -10px;
// }

// *,
// *::before,
// *::after {
// 	padding: 0;
// 	margin: 0;
// 	box-sizing: border-box;
// }

// @mixin flex-container {
// 	display: flex;
// 	overflow: hidden;

// 	> * {
// 		flex: 0 0 auto;
// 		overflow: scroll;
// 	}
// }

// @mixin stretchy {
// 	flex: 1 1 auto;
// }

// @mixin column {
// 	flex-direction: column;
// }

// html,
// body,
// #root,
// .app {
// 	height: 100%;
// }

// body {
// 	margin: 0;
// }

// .app {
// 	@include flex-container();
// 	@include column();

// 	> * {
// 		flex: none;
// 		overflow: scroll;
// 	}

// 	> .header,
// 	> .footer {
// 		height: 50px;

// 		background: #555;
// 		color: white;
// 	}

// 	> .main {
// 		@include stretchy();

// 		@include flex-container();

// 		> * {
// 			flex: 0 0 auto;
// 			overflow: scroll;
// 		}

// 		> .left,
// 		> .right {
// 			width: 200px;

// 			background: #eee;
// 		}

// 		> .middle {
// 			@include stretchy;
// 		}
// 	}
// }
